@use "theme";

@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
  font-family: 'Varela Round', sans-serif;
  min-height: 100vh;
  background: theme.$background-color;
}

#root {
  min-height: 100vh;
}

*, *::before, *::after {
  box-sizing: border-box;
  font-family: inherit;
}

* {
  margin: 0;
  padding: 0;
}

div.root {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

select,
input {
  display: block;
  border: none;
  outline: none;
  background: none;
}

details > summary {
  user-select: none;
  cursor: pointer;
  list-style: none;
}