@use "theme";

nav.navbar {
  display: grid;
  padding: 10px 0;
  grid-template-columns: 1fr auto auto;
  gap: 24px;

  svg {
    color: theme.$accent-color;
    height: 24px;

    &.navbar-logo {
      height: 30px;
    }
  }

}
