@use "theme";
@use "sass:color";

$foreground-color: theme.$foreground-color;
$header-box-shadow: 0 0 12px #C6D0F7;
$external-padding: 20px;
$dialog-button-border: color.change($foreground-color, $alpha: 0.3);
$product-hover-bg: color.scale(theme.$accent-color, $lightness: 90%);

$farmacy-border: color.adjust(theme.$accent-color, $lightness: 60%);
$farmacy-box-shadow: 0 0 8px #C6D0F7;


div.product-container {
  min-height: 100vh;
  background-color: theme.$background-color-blue;

  nav, header {
    background-color: theme.$background-color-white;
  }

  header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 $external-padding $external-padding $external-padding;
    box-shadow: $header-box-shadow;
    border-radius: 0 0 8px 8px;
  }

  main {
    min-height: 100%;
    padding: $external-padding;
  }

  
  div.product-info {
    display: grid;
    padding: 5px 20px;
    grid-template-columns: auto 1fr;
    gap: 40px;

    img {
      width: 100px;
      height: 100px;
      object-fit: cover;
    }

    div.product-details {
      display: grid;
      align-content: center;
      color: $foreground-color;

      h1 {
        font-size: 18px;
        font-weight: bold;
      }

      p {
        font-size: 14px;
        font-weight: normal;
      }
    }
  }

  div.product-selectors {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }

  div.dialog-buttons {
    display: flex;
    gap: 32px;

    div.dialog-root {
      position: relative;

      button {
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        gap: 8px;
        color: $foreground-color;
        font-size: 13px;
        text-transform: uppercase;
        background: none;
        border-radius: 4px;
        border: 1px solid $dialog-button-border;
        padding: 8px 16px;
        
  
        svg {
          height: 14px;
        }
      }
    }
  }

  div.pharmacy-list {
    margin-top: $external-padding;

    div.pharmacy {
      margin-bottom: $external-padding;
      border-radius: 4px;
      background-color: white;
      box-shadow: $farmacy-box-shadow;

      div.pharmacy-header {
        padding: 16px 16px 4px 16px;
        
        img {
          max-width: 150px;
          max-height: 20px;
          object-fit: cover;
        }
      }

      div.pharmacy-body {
        padding-bottom: 8px;

        div.pharmacy-product {
          height: 40px;
          padding: 0 16px;
          display: flex;
          justify-content: space-between;
          align-items: center;

          div.pharmacy-product-info {

          }

          div.pharmacy-product-price {
            font-size: 18px;
            font-weight: bold;
            color: $foreground-color;
          }

          &:hover {
            background-color: $product-hover-bg;
          }
        }
      }
    }
  }
}
