@use "theme";
@use "sass:color";

$accent: theme.$accent-color;
$input-border: color.scale($accent, $lightness: 20%);
$input-border-hover: color.scale($accent, $lightness: -10%);
$input-background-opened: color.scale($accent, $lightness: 92%);
$option-selected-bg: color.scale($accent, $lightness: 80%);
$option-hover-bg: color.scale($accent, $lightness: 90%);
$option-hover-selected-bg: color.scale($accent, $lightness: 75%);
$option-active-bg: color.scale($accent, $lightness: 70%);
$options-container-border: rgb(212, 212, 212);
$border-radius: 4px;
$transition: all 0.08s ease-in-out;

div.select-root {
  position: relative;
  width: 100%;
  user-select: none;
  transition: $transition;

  // Selector closed
  button.select-container {
    width: 100%;
    text-align: left;
    position: relative;
    display: block;
    border: 1px solid $input-border;
    border-radius: $border-radius;
    padding: 6px 10px;
    transition: $transition;
    background: none;


    // Display (label and selection)
    p {
      text-transform: uppercase;
  
      &.display-label {
        font-size: 10px;
        color: $input-border;
        margin-bottom: 2px;
        transition: $transition;
      }
      
      &.display-selection {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
        color: theme.$foreground-color;
      }
    }

    // Icon
    svg {
      color: $input-border;
      position: absolute;
      right: 8px;
      top: 13px;
      height: 16px;
      transform: rotate(90deg);
      transition: $transition;
    }
    
    // Select hover
    &:hover {
      border-color: $input-border-hover;

      // Display label hover
      p.display-label {
        color: $input-border-hover;
      }

      // Icon hover
      svg {
        color: $input-border-hover;
      }
    }

    &:focus-visible {
      outline: none;
      box-shadow: 0 0 0 1px $input-border-hover; /* Border bottom */
      border-color: $input-border-hover;

      
      p.display-label {
        color: $input-border-hover;
      }
      
      svg {
        color: $input-border-hover;
      }
    }
  }

  // Selector opened
  &.select-opened, &:active {
    background-color: $input-background-opened;

    // Display opened
    div.select-container {
      border-color: $input-border-hover;

      // Icon
      svg {
        color: $input-border-hover;
        position: absolute;
        right: 8px;
        top: 13px;
        height: 16px;
        transform: rotate(-90deg);
      }

      // Display label hover
      p.display-label {
        color: $input-border-hover;
      }

    }
  }


  div.options-container {
    position: absolute;
    padding: 4px 0;
    border-radius: $border-radius;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
    top: 115%;
    left: 0;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    background-color: white;
    z-index: 1;

    button.option-item {
      text-align: left;
      border: none;
      width: 100%;
      padding: 10px;
      background: none;
      color: theme.$foreground-color;
      transition: $transition;

      &.option-selected {
        background-color: $option-selected-bg;
      }

      &:not(.option-selected):hover {
        background-color: $option-hover-bg;
      }

      &.option-selected:hover {
        background-color: $option-hover-selected-bg;
      }

      &:focus-visible {
        outline: none;
        text-decoration: underline;
        background-color: $option-hover-bg; 
      }
      
      &.option-selected:focus-visible {
        background-color: $option-hover-selected-bg;
      }

      &:active {
        background-color: $option-active-bg !important;
      }
    }
    
  }
}