@use "../styles/theme";

main.products-grid-container {
  div.products-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 30px;

    a.products-grid-item {
      flex: 0 0 300px;
      height: 400px;
      padding: 20px;
      background-color: white;
      color: theme.$foreground-color;
      border-radius: 8px;

      div.products-grid-item-image-container {
        margin-bottom: 10px;
        height: 260px;
        aspect-ratio: 1;
        background-color: grey;

        img.products-grid-item-image {
          width: 100%;
          height: 100%;
        }
      }

      h1 {
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
      }

      p {
        font-size: 14px;
        color: theme.$foreground-color-light;
      }
    }
  }

  div.products-grid-pagination {
    svg.products-grid-pagination-arrowicon {
      width: 12px;
      // color: theme.$foreground-color;
    }
  }
}